@media (min-width: 768px) {
    .text-typeset-index {
        transform: translate(70px, 50px);
        z-index: 1;
    }
    .title-typeset-index {
        z-index: 2;
        transform: translate(70px, 65px);
    }
    .text-typeset-left {
        z-index: 1;
        transform: translate(80px, 100px);
    }
    .title-typeset-left {
        transform: translate(80px, 110px);
        z-index: 2;
    }
    .text-typeset-right {
        z-index: 1;
        transform: translate(-80px, 100px);
    }
    .title-typeset-right {
        transform: translate(-80px, 110px);
        z-index: 2;
    }
    .text-typeset-stuffing {
        z-index: 1;
        transform: translate(80px, 100px);
    }
    .title-typeset-stuffing {
        transform: translate(80px, 110px);
        z-index: 2;
    }
    .text-typeset-present {
        z-index: 1;
        transform: translate(-80px, 100px);
    }
    .title-typeset-present {
        transform: translate(-80px, 110px);
        z-index: 2;
    }
}
@media (min-width: 992px) {
    .text-typeset-index {
        transform: translate(150px, 100px);
        z-index: 1;
    }
    .title-typeset-index {
        z-index: 2;
        transform: translate(150px, 120px);
    }
    .text-typeset-left {
        transform: translate(100px, 100px);
        z-index: 1;
    }
    .title-typeset-left {
        z-index: 2;
        transform: translate(100px, 120px);
    }
    .text-typeset-right {
        transform: translate(-100px, 150px);
        z-index: 1;
    }
    .title-typeset-right {
        z-index: 2;
        transform: translate(-100px, 180px);
    }
    .text-typeset-stuffing {
        transform: translate(100px, 110px);
        z-index: 1;
    }
    .title-typeset-stuffing {
        z-index: 2;
        transform: translate(100px, 130px);
    }
    .text-typeset-present {
        transform: translate(-100px, 130px);
        z-index: 1;
    }
    .title-typeset-present {
        z-index: 2;
        transform: translate(-100px, 150px);
    }
}


