.breadcrumb-text {
    text-decoration: none;
    color: #496929;
    &:hover{
        text-decoration: none;
        color: #6a973c;
    }
}
.btn-heart {
    width: 38px;
    height: 38px;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid gray;
    color: gray;
    transition: 0.5s;
    &:hover {
        transform: scale(1.2);
        color: #c92c2c;
        border: 1px solid #c92c2c;
    }
}
.btn-heart-active {
    color: #c92c2c;
    border: 1px solid #c92c2c
}
.btn-add-cart {
    transition: 0.5s;
    &:hover {
        transform: scale(1.1);
    }
}
.product-card:hover {
    img {
        transition: 1s;
        transform: scale(1.2);
    }
}
