.btn-arrow {
  transition: 0.2s;
  color: #8ca061;
  &:hover {
    transform: scale(1.1);
    color: #eee6de;
  }
}
.footer-link-text {
  text-decoration: none;
  color: #8ca061;
  &:hover {
    color: #eee6de;
  }
}